---
---

@import "{{ site.theme }}";

table {
  table-layout: fixed;
  max-width: 99%;
}

td {
  width: 33% ;
  @media only screen and (max-width: 600px) {
    paddingBottom: 0 !important;
    paddingTop: 2px !important;
    paddingRight: 2px !important;
    paddingLeft: 2px !important;
  }
  @media only screen and (min-width: 601px) {
    paddingBottom: 0 !important;
    paddingTop: 5px !important;
    paddingRight: 5px !important;
    paddingLeft: 5px !important;
  }
}

td img {
  width: 100%;
  margin: 0;
  padding:0;
}
